
.vs/FoodOrderingWebsite/FileContentIndex/fc46e33c-885f-4dc0-b628-5dcf504154e4.vsidx
.vs/FoodOrderingWebsite/FileContentIndex/f4553302-3b28-41f5-91dc-c29a35c6aa64.vsidx
.vs/FoodOrderingWebsite/FileContentIndex/acc18f0b-56bc-4dfa-8e9a-d1ac59e39a0a.vsidx
.vs/FoodOrderingWebsite/FileContentIndex/4d287997-3a9f-4238-b2a0-a433ac8dd800.vsidx
.vs/FoodOrderingWebsite/FileContentIndex/089704b5-b141-467c-9fda-2d438114c78b.vsidx
*.vsidx
